.card {
    border-radius: 0.5em;
    border: 5px solid indigo;
    color: indigo;
    margin: 1em;
    border-bottom:
}

.card-header {
    background: indigo;
    color: white;
    padding: 0.3em;
    text-transform: uppercase;
    padding: 5px 15px 10px;
    display: flex;
    justify-content: space-between;
}

.card-body {
    background: linear-gradient(to bottom, grey, darkgrey);
    color: grey;
    padding: 1em;
    display: flex;
}

.descriptor {
    background: white;
    border-bottom: 5px solid grey;
    border-radius: 0.2em;
    margin: 15px;
    padding: 15px;
}

.indicator {
    color: crimson;
    font-weight: bold;
}

.genre {
  color: rgba(255,255,255,0.5);
  margin-right: 5px;
}